<!DOCTYPE html>
<html>
<head>
    <title>Player Info</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <p>{{info.name}}</p>
    <p>{{info.total_point}}</p>
    <p>{{info.goals}}</p>
    <canvas id="myChart" width="400" height="150"></canvas>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var points_lst = {{ info.points_lst|safe }};
            var match_num_lst = {{ match_num_lst|safe }};
            var simple_lst = {{ simple_lst|safe }};
            
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: simple_lst,
                    datasets: [{
                        label: 'Expected Points Led by Each Goal',
                        data: points_lst,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)', // Blue color with opacity
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    onClick: function(event, elements) {
                        if (elements.length > 0) {
                            var index = elements[0].index;
                            var matchNum = match_num_lst[index];
                            window.location.href = "https://www.premierleague.com/match/" + matchNum;
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
